@charset:"utf-8";

/*
メインカラー
＃C54F1F
＃B8BB9A
＃E7B872
＃EBDDA7*/
p {
font-size: 14px;
  color: #333333;

}

div {
	border: solid 1px;/* けすこと */
}

.work {
	width: 300px;
	background-image: ;
}

li {
	display: flex;
	justify-content: space-around;
	border: solid 1px;

}


/* ズームアップ */

.sakuhin img {
    bottom: 0;
    right: 0;
    height: 100%;
    vertical-align: bottom;
    transition: .3s;
}

.menu .link-button {
	box-sizing: border-box;
	display: block;
	width: 210px;
	border: 1px solid #000;
	border-radius: 2px;
	background-color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	color: #000;
}

h2 {
	font-size: 16px;
	color: #333333;
}

/* h2見出し */
.waku  {
    position: relative;
    display:inline-block;
    padding: 8px 25px 8px 25px;
    color: #333333;
    font-weight: bold;
    background:  rgba(255, 255, 0, 0.3);
    border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
    z-index:0;
}
.waku:after {
  position: absolute;
  background:  rgba(197, 197, 197, 0.8);
  border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
  top:3px;
  left:-5px;
  content:"";
  height:80%;
  width:100%;
  z-index:-999;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}
.waku:before { 
  position: absolute;
  border: 2px solid  #333;
  border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
  content:"";
  top:0px;
  left:0px;
  height:80%;
  width:100%;
  z-index:-998; 
}

/* 背景テスト */
.bg { 
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}
